[2013-06-15 05:08] milancurcic opened #1 "Timezone handling"
datetime-fortran currently provides no timezone information in the datetime class definition. I believe timezone handling should be implemented as an optional derived type which is a component of datetime:

[code]

A possible timezone model may the one from Python: http://docs.python.org/2/library/datetime.html#tzinfo-objects

[2013-06-15 05:12] milancurcic opened #2 "Addition and subtraction overloaded operators for timedelta objects"
Exactly what the title says. `+` and `-` operators are not implemented for `timedelta` objects. This should be fairly straightforward.

[2013-06-17 17:22] #2 closed, assigned to nobody

[2013-06-17 17:23] milancurcic opened #3 "Unit tests"
Unit tests for all classes and methods.

[2013-07-23 19:38] milancurcic opened #4 "num2date produces invalid datetime instance"
Reported by Hamid Oloso:

Example program that produces wrong datetime instance when the datetime%day of the input instance is the last day of the month

[code]

[code]

Output:

[code]

Please note how the month is 3 instead of 2 and day is 0 instead of 28.

[2013-07-23 19:44] #4 closed, assigned to milancurcic

[2013-10-24 04:07] milancurcic opened #5 "Division by zero in datetime%utc()"
Reported and fixed by Bjoern Hendrik Fock of University of Hamburg.

Problem: Calling `datetime%utc()` with a `datetime` instance that is already in UTC timezone (i.e. `datetime%tz = 0`) resulted in a division by zero.

Solution: Replacing the problematic line that uses division with a line that uses the intrinsic `SIGN()` function solves the problem.

[2013-10-24 04:08] #5 closed, assigned to nobody

[2014-01-27 11:49] chrisbunney opened #6 "Bug in datetime arithmetic when subtracting hours?"
I have run into some odd behaviour when I perform datetime arithmetic using a negative timedelta. This issue only seems to occur when the subtraction causes a change in month.

Basically, I want to subtract six hours from a date, but when I do this on the first of the month at 00:00 time, I get incorrect results for some months. Consider the following code:

[code]

This is the output:

[code]

Th

[2014-02-05 18:48] #6 closed, assigned to nobody

[2014-02-12 16:00] msbrtnfld opened #7 "logical comparision error"
Line 1410 needs to be changed from

IF(self%stopped == .TRUE.)THEN

to

IF(self%stopped .EQV. .TRUE.)THEN

because logicals must be compared with .eqv. instead of ==

gives gfortran 4.8.1 error

[2014-02-12 16:47] #7 closed, assigned to nobody

[2014-05-16 22:03] milancurcic opened #8 "Bug in `datetime % secondsSinceEpoch`"
Calling `datetime % secondsSinceEpoch()` fails when called with a `datetime` instance with the value later than approximately `datetime(2001,9,9)` with the internal formatted read error (-5). The error results if the return value of `datetime % strftime("%s")` has less than 10 digits.

[2014-05-16 22:04] #8 closed, assigned to nobody

[2014-09-27 19:53] #3 closed, assigned to nobody

[2014-09-28 20:30] guziy opened #10 "Compilation error"
Hi I am trying to compile the datetime.f90, but getting this error message, do you know what is wrong?

<pre>
PGF90-F-0155-No default initialization in structure constructor- member yearday$tbp$0 (datetime.f90: 229)
</pre>

The compiler is pgf95. Compilation command is:

<pre>
pgf95 -c ..<skipped libs and includes>.. -Mreentrant -Miomutex -byteswapio -I. -tp nehalem-64 -mcmodel=medium -Bdynamic -O

[2014-09-28 21:23] #10 closed, assigned to nobody

[2014-09-29 21:42] guziy opened #11 "Problem adding time delta(minutes=60*n)"
Consider this example:

<pre>
    !Test t - dt
    d = datetime(1980, 1, 1, 0, 0)
    print *, 't = ', d
    print *, 't - 6h = ', d + timedelta(hours=-6)
    print *, 't - 360min = ', d + timedelta(minutes=-360)
</pre>

Output:

<pre>
t =         1980           1           1           0           0           0           0   0.00000000
 t - 6h =         1979          12          31          18

[2014-09-30 17:20] guziy opened #13 "date2num(num2date()) test and more"
Please consider these tests:

<pre>
    d = datetime(2009, 12, 23,  9,  47, 0)
    print *, d%yearday()
    print *, d
    print *, num2date(date2num(d))

    print *, "num2date tests"
    d = d % now()
    print *, d
    print *, num2date(date2num(d))
</pre>

First part works fine and `d == num2date(date2num(d))` and it is OK since time zone is 0.
But when you create a date time with now timezone

[2014-10-01 13:25] guziy opened #15 "Empty constructor compilation error with PGI 14.4"
I know this is might not be an issue for fort or gfortran ( for sure not an issue - tested) but with 14.4 compiling tests fails:

<pre>
$ make
s.f90 datetime_tests.f90 -g -O0  -o tests datetime.o
USING: /sb/software/areas/armnssm/ssm-domains-base/tools/dev-tools/code-tools_1.0_all/include/Linux_x86-64/pgi2014/Pre_Compiler_rules
USING: /sb/software/areas/armnssm/ssm-domains-base/tools/dev-tools/cod

[2014-10-01 14:03] guziy opened #16 "Debugging code that uses date time module"
Hi:

This is more a question than an issue. I have trouble debugging code that uses the date time module.
**With ddt, compiled with pgi:**
whenever I get in the code where manipulations with date time objects occur (maybe reference to fields...), the gdb process starts consuming enormous amount of memory and it consumes it all...

**With gdb-apple compiled with gfortran:**
eclipse is refusing to s

[2014-10-02 02:55] #11 closed, assigned to nobody

[2014-10-02 02:55] #13 closed, assigned to nobody

[2016-01-17 03:54] milancurcic opened #18 "Automated doc generation with FORD"
Current markdown documentation for datetime-fortran is nice but was written by hand. Obviously, this approach worked early on but does not scale with the growth of the project.

The code should be documented in the format that is readable by the amazing [FORD](https://github.com/cmacmackin/ford).

[2016-01-17 03:59] milancurcic commented on #1
Time zones, daylight saving times, and leap seconds, all difficult to handle and important for tracking time in Gregorian calendar.

Current time zone capabilities in datetime-fortran are very basic - essentially a floating-point timezone offset is available as a component to `datetime` object, but must be controlled by user.

The [IANA timezone database](https://www.iana.org/time-zones) provides

[2016-01-17 04:06] milancurcic opened #19 "datetime and timedelta constructor validation"
`datetime` and `timedelta` contructor function currently do not implement and validation of input arguments to the contructor. For example, the `datetime` contructor needs to validate the following:

* Is year > 0?

* Is 0 < month < 13?

* Is 0 < day < 32?

* etc.

and raise an exception if any of the above tests fail.

Similar for `timedelta` constructor.

[2016-01-17 04:22] zbeekman commented on #19
Or use the new impure elemental... If compiler support exists. Alternatively, do something creative with pointers to allow a state full error stack to be passed around and the check it when the function returns.

[2016-01-17 04:58] milancurcic commented on #19
@zbeekman Did not know about this feature. Is it F2008?

[2016-01-17 07:48] szaghi commented on #18
:+1:

[2016-01-17 07:56] szaghi commented on #19
@milancurcic
Alternatively, provide a basic class encapsulating errors handling that will be the parent ancestor of all classes: all pure procedures will remain pure and exception handling vould be done outside the pure procedure. I have not tried this approach, but I found *suggestions* on that on clf-google-group.

@zbeekman can you elaborate more on both *elemental impure* procedures and pointe

[2016-01-18 01:36] zbeekman commented on #19
**`impure elemental`**
From MCR:

which aids parallel evaluation. While this is advantageous for performance, it does prevent
other possibilities where one wishes to perform impure processing elementally on arrays
of arbitrary rank. In such cases, one was forced to provide a separate function for each
permutation of conformant ranks; for a procedure with two arguments, that was 22 separate
procedu

[2016-01-18 17:04] milancurcic commented on #19
@zbeekman Thank you for the summary. At first I felt embarrassed that I missed this in my MRC, but then I realized its described in the green (new) book which I don't own yet. I still own the blue book (95/2003). :)

Anyhow, these are great recommendations. I like the idea of an extensible parent class with error handling methods as a most general and re-usable approach. I will take some time to d

[2016-01-18 22:52] zbeekman commented on #19
Get the green one! (Or see when they're going to publish their next book... maybe Fortran 2015 will be covered)

[2016-01-23 16:04] blippy opened #20 "Installation"
I am interested in packaging datetime-fortran for Arch.

It would be useful if the Makefile had an 'install' rule, and a 'pc' file that would allow library locations to be picked up "automagically". I am more than willing to supply patches if you're ammenable to the idea, and we can reach a solution that is acceptable to both of us.

Please let me know if you're interested.

[2016-01-23 16:12] zbeekman commented on #20
I don't know much about packaging for distros, what is a 'pc' file?

[2016-01-23 17:07] blippy commented on #20
A 'pc' file solves the problem of telling downstream consumers of your library the compiler flags needed to link to it.
So typing, for example,
pkg-config --cflags datetime-fortran
might return
-I/usr/lib

Gnu's autotools uses pkg-config to know how to set its flags. But even if you don't use autotools, pkg-config can still be used in a Makefile:
FFLAGS = $(shell pkg-config --cflags datetime-fortr

[2016-01-23 17:44] milancurcic commented on #20
Hi blippy, what you propose sounds great to me. I am not familiar with Arch either. Would you mind forking the repo, applying your changes in a new branch and making a pull request?

[2016-01-23 17:52] blippy commented on #20
Sure. That'll be fine.

Can I ask what operating systems and compilers everyone is using?

Also, can I ask how you currently link the datetime-fortran library in with your projects?

[2016-01-23 18:27] milancurcic commented on #20
I'm using CentOS and Fedora. datetime's tests pass for both 32-bit and 64-bit systems with gfortran.  Also tested with Cray, Intel, and PG compilers but these are probably not the ones you are looking for. Never tested on Windows as far as I know.

For linking I just use `-L/path/to/datetime-fortran -ldatetime` to link to a static library created by datetime's make.

[2016-01-23 19:12] blippy commented on #20
I've been chewing things over, trying to work out the best way to proceed.

Hard-coding the links as you have done is the easiest from your point of view, but makes it more difficult for people to create a packaged library.

Do you have admin privileges, and would you be prepared to go down the Gnu Autotools route? I'm pretty much a newbie when it comes to Autotools myself, but I'm willing to do t

[2016-01-23 20:17] milancurcic commented on #20
configure && make && [sudo] make install

Yes, this is my preference as well! The only reason I didn't do it is because I am not familiar with autotools - I know how to use them, but not how to set them up for a new project, and my time was consumed otherwise. Thank you so much for you help with this!

[2016-01-23 20:57] blippy commented on #20
No problemo. I'll look into it.

I had made my own project using autotools using Fortran before. It's difficult to know if it was the "poper" way of doing it, though.

[2016-01-23 21:11] zbeekman commented on #20
There's also CMake... which can be equally daunting, but I find to be a more enjoyable alternative to autotools.

Ah yes, I know pkg-config, wasn't familiar with the shorthand, `pc`

[2016-01-23 21:46] blippy commented on #20
zbeekman, I tried both, each one time only.  What I found is that Autotools seemed to be "massive brain damage", where things seemed to work by luck rather than judgement. CMake did seem to do things without me having to cajole the system.

So CMake does seem like a viable option, and seems quite a popular build tool.

[2016-01-23 23:02] milancurcic commented on #20
:thumbsup: for CMake if you can make it happen! :smile:

[2016-01-23 23:16] blippy commented on #20
CMake it is, then :)

[2016-01-23 23:29] zbeekman commented on #20
If you get stuck, @blippy let me know and I'll take a look. No promises since CMake is an awkward, dark art that is oh-so-very poorly documented, but I have done enough head pounding to be somewhat proficient...

[2016-01-24 03:05] milancurcic commented on #20
@blippy One more question comes to mind: I have been in the process of re-structuring the source code into multiple files in my local development branch, following the "one class per module" style. Will this impact your CMake implementation given that the source files will soon be tucked away in a common `src/lib` and `src/tests` directory structure?

[2016-01-24 08:01] szaghi commented on #20
FoBiS can do this with `FoBiS build`, simply, :smiley:

[2016-01-24 08:18] blippy commented on #20
@milancurcic I think I should still be able to make it work.

[2016-01-24 19:53] blippy commented on #20
The peculiar thing is, I've tried experimenting with both Autotools and CMake. I've managed to get a good build and install and uninstall using Autotools, butnot with  CMake.

Would you be prepared to go the Autotools approach?

I was surprised at how easy ("?") it was to set things up using Autotools, and it does have a fairly intuitive source Makefile.am.

[2016-01-24 21:54] milancurcic commented on #20
@blippy Please pick the easiest route for you to implement. Autotools and
CMake are not mutually exclusive, so we will be able to have multiple build
systems supported if we decide to.

On Sunday, January 24, 2016, blippy <notifications@github.com> wrote:

[2016-01-25 09:44] blippy commented on #20
I have made excellent progress on the conversion to autotools, BTW, Everything seems to build right and install/uninstall as it should.

[2016-01-25 14:40] milancurcic commented on #20
@blippy Amazing! Would you mind opening a pull request from your forked repo? Also please add yourself to the CONTRIBUTORS list. Thank you!

[2016-01-25 14:42] zbeekman commented on #20
After these changes take effect, I'll create a Homebrew Formula for this lib too. (Probably can't do this before the autotools install is merged and you mint a new release, however.)

[2016-01-25 14:46] milancurcic commented on #20
@zbeekman :+1: :clap: :tada:

[2016-01-25 14:56] blippy commented on #20
Yes. I just noticed that you made a recent commit, so some reworking will be required on my part.

Before adding a pull request, I think it is a good idea that I make the autotools work with the new master.

It will be fun trying to get everything to sync up.

[2016-01-25 17:48] blippy commented on #20
OK. I've synced your recent commits with autotools. I'll make a pull request imminently.

Please be sure to save your work in case anything goes wrong!

[2016-01-25 17:51] blippy commented on #20
I'll also write a "beginners guide" on how the autotools should work and how users of the project can incorporate it. Stay tuned.

[2016-01-25 18:30] blippy commented on #20
Ah. Sorry I messed up in my browser, so I may be repeating some messages.

[2016-01-25 18:39] blippy commented on #20
I've put together some tips on autotools, including details of how consumers can make use of the module:
http://www.markcarter.me.uk/programming/fortran/calendrical.htm

[2016-01-25 18:43] blippy commented on #20
I'll also mention that when configured, you can create a distribution (which includes configure) by issuing the command:
make dist
That will create a tarball for you, containing everything anyone needs to build and install the package. Note that you will need to set configure.ac's version number in the line:
AC_INIT([datetime-fortran], [1.3.0T])
I've just called it 1.3.0T for now, for testing purp

[2016-01-25 18:47] zbeekman commented on #20
How do you bootstrap the project to generate the `./configure.sh` script? I just took a look at #22 and saw your comment there. Maybe update your blog post to include the tip about `autoreconf -i`?

[2016-01-25 19:04] blippy commented on #20
@zbeekman
Webpage contains info on 'autoreconf -i'.

The curious thing is that you can often tinker with Makefile.am files, and 'make' will still do the right thing. In the past, I had rerun 'autoreconf -i' whenever I made any changes to Makefile.am. That appears to be unnecessary. I presume that the generated Makefile is somehow linked to Makefile.am in some way.

You'd never need to regenerate c

[2016-01-26 09:40] blippy commented on #20
In retrospect, I should have cloned @milancurcic dev branch rather than master branch.

[2016-01-26 17:14] #20 closed

[2016-01-26 20:05] zbeekman commented on #20
So it seems we are just shy of the "popularity quotient" for being accepted into Homebrew:

[code]

Please encourage anyone you know to watch, fork and star the repo to get us over the threshold.

[2016-01-26 22:35] blippy opened #23 "Archiving/distributing"
The following issues were noted upon releasing 1.4.0:

@milancurcic said "<code>make dist</code> failed to install CONTRIBUTORS, README.md and LICENSE."

My response: I agree. I will look into this.

@zbeekman said "If you can find a way to get <code>make dist</code> to package the missing markdown files, you can just manually add the tarball generated by make dist as a release asset."

Yes. I thi

[2016-01-26 22:41] blippy opened #24 "Homebrew packaging"
In thread https://github.com/milancurcic/datetime-fortran/pull/22#issuecomment-175207961

@zeekman said: "@blippy I agree, but I am just talking about what is needed for Homebrew to accept the "formula". It needs to have a test do block that will compile code, link it against diatomite-fortran and run it to verify it all went well... I'll dig in the src/tests directory, and find something there."

[2016-01-26 22:43] blippy commented on #23
The discussion above originally referenced in https://github.com/milancurcic/datetime-fortran/pull/22#issuecomment-175207961

[2016-01-26 22:50] zbeekman commented on #24
~~diatomite~~ diatomite <-- thanks autocorrect....

BTW, I have this completely solved now

Yes, I could add autoconf, automake and pkg-config as build deps all the time, but packaging `configure.sh` in the release tarball would be preferable.

I still am curious about this... I guess I could try to test it myself. Any thoughts about whether after `autoreconf -i` you uninstall (or move out of your

[2016-01-26 22:54] blippy commented on #23
@zbeekman also references the version mismatching at https://github.com/milancurcic/datetime-fortran/commit/d49af9ecefad7f213c539104146a7379e205052a#commitcomment-15688257

[2016-01-26 23:00] zbeekman commented on #24
I would appreciate it if you guys could test if pkg-config is a build dep, in the event `configure.sh` *__is__* present. My testing seems to indicate the answer is no.

If this is true, I'm just waiting on a new release including `configure.sh` in the tarball. (Please also include the tag/version in the tarball that gets uploaded as a release asset.)

Here is the latest gist: https://gist.github.c

[2016-01-26 23:03] blippy commented on #24
@zbeekman When we fix the archiving issues, autoconf and automake should be unneeded by packagers. configure will not be required.

I'm not sure about pkg-config. I /think/ that it should not be needed.

[2016-01-26 23:06] zbeekman commented on #24
yes, right now, autoconf, automake and pkg-config are listed as build deps when installing from github/master (HEAD in homebrew speak) otherwise they are not needed if installing from a versioned/packaged release.

[2016-01-26 23:08] zbeekman opened #25 "Make check doesn't run tests in src/tests"
AFAIK `make check` will build the package and also, I think, the tests, but doesn't actually execute them.

[2016-01-26 23:19] milancurcic commented on #24
@zbeekman @blippy Guys, thank you for getting all these balls rolling. I'm trying to meet some deadlines so Izaak I promise I will do that release/asset thing tomorrow at the latest.

[2016-01-26 23:21] zbeekman commented on #24
yes, sorry, take your time, I'm not trying to rush you. I should be attending to some other matters now too.

[2016-01-26 23:28] blippy commented on #24
@milancurcic No rush. I need a little time to think how we're going to get the packaging sorted.

[2016-01-27 08:48] blippy commented on #24
I'm glad that this project is proving popular on Homebrew, even though I don't own a Mac (I used to, though). Gfortran's date/time standard facilities seems a bit lacking, so by rights, this project should be useful to a lot of people :)

[2016-01-27 08:56] szaghi commented on #24
datetime-fortran rocks! :muscle:

[2016-01-27 11:00] blippy commented on #23
@milancurcic said "make dist failed to install CONTRIBUTORS, README.md and LICENSE."

Fixed by:
https://github.com/blippy/datetime-fortran/commit/20e9709a16e7e7dadde8a7aac5e3008f700b726b

[2016-01-27 11:55] blippy commented on #23
Added some consistency checking of versioning when you '''make dist'''. Making the distribution will fail if those checks are not satisified.

See pull request: https://github.com/milancurcic/datetime-fortran/pull/26

Once patched, I think this issue can be closed.

[2016-01-27 12:22] blippy commented on #24
@zbeekman said "I still am curious about this... I guess I could try to test it myself. Any thoughts about whether after autoreconf -i you uninstall (or move out of your path etc.) pkg-config if datetime-fortran will compile and install?"

I'm not sure. In Arch Linux, for example, pkg-config is a core package, so uninstalling it isn't an option for me.

[2016-01-27 13:58] blippy commented on #24
@zbeekman Actually, it may be possible to make pkg-config an optional part of the buid process. Perhaps it is best to wait until @milancurcic does another release which includes "configure", and then we can see what works and what doesn't, and take it from there.

[2016-01-27 17:58] zbeekman commented on #24
yup, AFAICT we're all set regarding pkg-config. I did `brew install --verbose --interactive datetime-fortran` and then from the interactive shell after `autoreconf -ivf` I did `brew unlink pkg-config`and continued on with `./configure.sh --prefix=... && make install` and everything seems to work swimmingly. This suggests that `pkg-config` is not a build dep when `configure.sh` is packaged with the

[2016-01-28 18:51] blippy opened #27 "Build failure on gfortran 4.8.2"
On the page https://github.com/milancurcic/datetime-fortran it states that the project has been tested on gfortran 4.8.2 (which is in Debian stable). Unfortunately, this produces a build failure:
<pre>
gfortran -c -Wall -O0 -C -fbacktrace mod_datetime.f90
mod_datetime.f90:846.6:

  d = d0
      1
Error: Can't convert CLASS(datetime) to TYPE(datetime) at (1)
make[1]: *** [mod_datetime.o] Error 1
</

[2016-01-28 19:06] zbeekman commented on #27
https://github.com/milancurcic/datetime-fortran/blob/master/src/lib/mod_datetime.f90#L831-L846

[code]
I'm 50% sure this is a datetime bug.... I don't have my copy of MRC "Modern Fortran" handy, but I think that we need a type gaurd statement here....

[2016-01-28 19:15] milancurcic commented on #27
Thanks, I am 107% sure that this is a datetime bug. This mess started when I switched from module procedure operators to type-bound generic operators. Obviously I didn't do this right. I will take a look.

[2016-01-28 19:31] zbeekman commented on #25
@blippy would you mind looking at this? AFAIK there was no `make check` before autotools came along (but I could be mistaken)

[2016-01-28 19:36] milancurcic commented on #27
@zbeekman I don't have an assignment operator overloaded for datetimes. Maybe we should.

@blippy Can you try this? (see replaced datetime initialization below). I think this should work. I can't reproduce your problem with gfortran 5.3.1, so I am not sure if `type(datetime) = `class(datetime)` is actually allowed or there exists a bug in later versions of gfortran that fails to detect this.

[cod

[2016-01-28 19:37] blippy commented on #25
@zbeekman Sure, I'll take a look at it. I've never done a test harness before, but the way I understand it is that autotools uses a program's exit code to determine if there's been a pass or fail. So I may have to modify the test program to effect this.

[2016-01-28 19:37] milancurcic commented on #27
Just to confirm, both the original code and the suggested code in my snippet above compile and run successfully with gfortran 5.3.1.

[2016-01-28 19:51] zbeekman commented on #27
LGTM, assuming that `datetime` is a structure constructor. If it's an overloaded (function) structure constructor there could be problems if it returns a class rather than a type.

[2016-01-28 19:54] blippy commented on #27
BTW, I tried compiling the distributed code with gfortran 4.9.3 on cygwin, and I produced 114 tests passed, and 56 tests failed.

[2016-01-28 20:00] blippy commented on #27
Back on my cubietruck box, with gfortran 4.8.2, with <code>mod_datetime.f90</code>:
<pre>
pure elemental function datetime_plus_timedelta(d0,t) result(d)
!=======================================================================
!
! Adds a timedelta instance to a datetime instance.
! Returns a new datetime instance. Overloads the operator +.
!
!=======================================================

[2016-01-28 20:00] milancurcic commented on #27
@zbeekman Yes, it's a function that overloads the datetime name and returns `type(datetime)`:

[code]

[2016-01-28 20:03] milancurcic commented on #27
No, I wouldn't rush to make this conclusion. We need to first check the literature to see if `type(datetime) = `class(datetime)` kind of assignment is allowed. Maybe there is a special case where if `d1` is an extended type, this kind of assignment is supposed to work as if `d1` was `type(datetime)`. We can check this in the standard, but I don't have time right now to look into that.

[2016-01-28 20:06] milancurcic commented on #27
Wow, I think this is the first test of datetime-fortran on a Windows machine, at least AFAIK. Many procedures (and their corresponding tests) are chained, and it's possible that one broken thing could cause a chain of 50 failed tests that use that functionality under the hood.

Though my first guess gut feeling is that the strftime and strptime interfaces in mod_strftime.f90 are for some reason no

[2016-01-28 20:13] blippy opened #28 "Some cygwin/gfortran 4.9.3 test fails"
Here are the test results for gfortran 4.9.3 on cygwin using v1.4.0:
<pre>
test empty datetime() constructor                                : FAIL
test semi-empty datetime() constructor                           : FAIL
test datetime + timedelta(milliseconds = 100)                    : FAIL
test datetime + timedelta(milliseconds = -100)                   : FAIL
test datetime + timedelta(seconds = 1

[2016-01-28 20:15] blippy commented on #27
@milancurcic Issue raised here: https://github.com/milancurcic/datetime-fortran/issues/28

You know what? I'm actually glad we went down the autotools route (although I'm not being dismissive of CMake).

[2016-01-28 20:16] milancurcic commented on #28
Awesome, the first test fails. These are usually easy to diagnose and resolve. :smile:

[2016-01-28 20:19] blippy commented on #27
I should also mention that the build that failed was compiled on an ARM machine:
<pre>Welcome to Ubuntu 14.04 LTS (GNU/Linux 3.4.79 armv7l)</pre>

[2016-01-28 20:31] milancurcic commented on #27
@blippy Cool, all worth looking into. Last year I had all tests pass on ARM with Android (Nexus 7 2013 tablet), but that was version 1.1.0 prior to restructure, encapsulation, overloaded constructors and generic operators.

[2016-01-28 20:44] zbeekman commented on #25
I may be mistaken, but I didn't see anything running with `make check`. I saw it compile stuff, but the tests never ran. (Unless all their output was redirected.)

Don't worry about the stop code yet; most compilers respect Fortran `stop #` where `#` is some positive integer and use that as the exit code. I'm happy to look at what (if any) changes need to be applied to the test program. Just ensur

[2016-01-28 20:56] blippy commented on #25
@zbeekman That's correct, nothing runs when you do <code>make check</code>. Autotools does have testing facilities, but I am not yet familiar with how to use them.

Stay tuned.

[2016-01-29 04:25] milancurcic commented on #23
I played a bit more with the make dist. See the files that come out of the tarball:

[code]
The `datetime_module.mod` shouldn't be in there. Is this easy to amend?

[2016-01-29 04:43] #27 closed

[2016-01-29 04:43] milancurcic commented on #27
Resolved by commit https://github.com/milancurcic/datetime-fortran/commit/73a48cef8311829eb02d4342f4859a5071482886. Thank you.

[2016-01-29 08:53] blippy commented on #28
Note that commit 73a48cef8311829eb02d4342f4859a5071482886 fixes this. All tests now pass on cygwin.

Issue will therefore be closed.

[2016-01-29 08:53] #28 closed

[2016-01-29 09:29] blippy commented on #23
It looks as if all issues here are addresses, so I'll close it.

Raise another issue if necessary.

[2016-01-29 09:29] #23 closed

[2016-01-29 10:05] blippy opened #30 "Remove Makefile.ori files"
The project has a number of files called <code>Makefile.ori</code>. These were the orginal makefiles. Now that autotools has been implemented successfully, they are redundant and can be removed from the project wherever they exist.

[2016-01-29 16:52] zbeekman commented on #30
:+1:

[2016-01-29 16:58] milancurcic commented on #30
Do we still want to implement the CMake building? Is it desirable in any way to have multiple build systems? If yes, it may make sense to keep the original Makefiles around for reference (module dependencies etc.). Or maybe I am just a hoarder. What do you think?

[2016-01-29 17:05] zbeekman commented on #30
I see no real need to add a CMake build system. The only advantage that I can think of is that CMake provides an alternative to package-config for locating libraries, modules, etc. but I think CMake also knows how to use package-config.

As far as the old makefiles go, @milancurcic should be the ultimate judge of that. My vote is that if you're happy with the Makefiles that are generated by automa

[2016-01-29 17:09] blippy commented on #30
My advice: do not add CMake unless it's proven that we need to. Maintaining one build system is work enough.

[2016-01-29 17:09] milancurcic commented on #30
Got it, just wanted to make sure.

[2016-01-29 17:10] zbeekman commented on #30
yes, I agree with @blippy

[2016-01-29 17:14] milancurcic commented on #30
Done. https://github.com/milancurcic/datetime-fortran/commit/1ba8b53371daa2875b64dd226452ebf01c5eb5a7

[2016-01-29 17:14] #30 closed

[2016-01-29 17:19] blippy commented on #30
I know what you mean about the hoarding. What I generally do is put my old files into a directory called 'bak', which I sometimes clear out periodically.

My advice is to delete the ori files, though, as it just causes confusion with extra "stuff" everywhere. Remember, too, that the Makefile.am were largely just based on your original Makefiles, with some fancy tinsel sprinkled on to make autotool

[2016-01-29 17:22] milancurcic commented on #30
In an afterthought, I realize they can also be resurrected from a past version of the branch.

[2016-01-29 21:45] milancurcic commented on #24
@zbeekman I finally got around to doing this, see here:

https://github.com/milancurcic/datetime-fortran/releases/tag/v1.4.1

Are we good to go with homebrew packaging?

Thanks a lot!!

[2016-01-29 22:13] milancurcic opened #31 "configure is insensitive to FCFLAGS"
Specifying FCFLAGS when running configure, for example:
[code]
does not affect what flags are being used when running `make`. In fact, the flags are always `-Wall -O0 -C -fbacktrace`, which are the gfortran flags hardwired in `src/lib/Makefile.am`:

[code]
Specifying FC works as expected.

@blippy can you look into this at your convenience? Thanks!

[2016-01-29 22:21] zbeekman commented on #24
probably, I've been swamped, and am using a loaner laptop from work at the moment, so I've fallen behind on a lot of stuff... I'll try to see where things stand RE Homebrew later tonight or tomorrow.

[2016-01-29 22:22] zbeekman commented on #24
(My personal laptop had to be sent in for a replacement logic board...) :-(

[2016-01-29 22:26] zbeekman commented on #15
@guziy Do you know if this problem still persists with the latest version of datetime_fortran?

[2016-01-29 22:27] zbeekman commented on #24
one last comment: It would be great to get #25 sorted out too, before submitting the home-brew formula. I can take a stab at it when I have time if @blippy doesn't beat me to it.

[2016-01-30 13:59] blippy commented on #31
yes. I'll look into it.

[2016-01-30 16:22] blippy commented on #25
Added some test functionality as part of recent commits.

It's clunky in how it does it, but doing 'make check' should now work.

A better solution would be to have datetime_tests output lines:
<pre>
test PASS empty datetime() constructor
test FAIL semi-empty datetime() constructor
</pre>
instead of
<pre>
test emtpy datetime() constructor       : PASS
test semi-empty datetime() constructor  : FAIL

[2016-01-30 16:36] zbeekman commented on #25
@blippy :bow: :tada:

[2016-01-30 16:43] blippy commented on #25
@zbeekman :+1:

Ideally I think we should engineer the output format of datetime_tests so that not so much data munging is required. It works for now, I guess, which is the main thing.

I generally don't run 'make check' when I install software, although it light of some of the problems that are highlighted, it is a worthwhile exercise.

It took me awhile to figure out how to do the checking, as t

[2016-01-30 16:48] zbeekman commented on #25
@blippy fair. I just returned from the gym, and need to cleanup and run an errand, but then I plan on taking your PR for a spin. I think if that all looks good, I'll merge it (assuming @milancurcic doesn't have any objections, mint a new release, and then submit the Homebrew formula PR.

I agree with you about the tests, but maybe we can include a command line flag to the test program to include o

[2016-01-30 17:00] blippy commented on #25
Either way will work.

What happens is that datetime_tests get written to a log file. So anyone can have a look at the original output.

The testing script then takes the output and creates a trs file having lines like
:test-result: PASS foo  ...

It looks as though autotools picks up these lines and performs a count.

[2016-01-30 22:57] milancurcic commented on #25
Sounds great to me, thanks @blippy!!

@zbeekman yes, the plan is good, please go ahead with the merge and push when ready. Also please add yourself to CONTRIBUTORS.

[2016-01-31 01:15] #25 closed

[2016-01-31 01:52] zbeekman commented on #25
So, let's scrap the colon in the output I suggested, and then we can just prepend the `:test-result:` when we parse the test output. Nice work @blippy!

[2016-01-31 05:03] zbeekman commented on #16
Yes, I find unit tests, integration tests, regression tests, combined with CI tools etc. makes there be very little need for debugging tools.

gdb should work... you may want to install [Homebrew](http://brew.sh) and upgrade gcc/binutils etc.

[2016-01-31 05:04] zbeekman opened #34 "INSTALL probably violates licensing/copyright"
It is a straight up copy of a GNU boilerplate. #blameblippy (lol, I tease... thanks for all your hard work, @blippy)

[2016-01-31 05:14] zbeekman commented on #34
OK, I'll eat my words: https://github.com/milancurcic/datetime-fortran/blob/master/INSTALL#L7-L10

[2016-01-31 05:14] #34 closed

[2016-01-31 05:18] milancurcic commented on #34
LOL! :smile:

[2016-01-31 05:44] zbeekman commented on #24
PR submitted

[2016-01-31 18:10] blippy commented on #31
I've asked some questions on Stackexchange to see how autotools actually behaves.

The documentation is VERY confusing.

[2016-02-01 08:40] blippy commented on #31
I am discussing this issue over at http://stackoverflow.com/questions/35117315/so-what-is-am-fcflags , if you're interested. The consclusion so far is that I shouldn't set AM_FCFLAGS.

I will investigate further.

[2016-02-01 10:59] blippy commented on #31
I "think" this is now fixed. I've done my own testing, and it looks OK.

It could definitely use some testing by others though, esp. where other compilers are concerned. I have not been able to perform configuration tests in the presence of alternative compilers.

[2016-02-01 16:47] guziy commented on #15
Hi Milan:

I am trying to compile the module from github to answer your question, but
there is no makefile there...

autoconf is complaining, automake as well, do you have a description of how
to generate the make file, because I do not have much experience with these
scripts?

Cheers

2016-01-29 17:26 GMT-05:00 Izaak Beekman <notifications@github.com>:

--
Sasha

[2016-02-01 17:28] zbeekman commented on #15
You should be able to do the following after cloning a fresh copy, or pulling in the latest changes:

[code]

I'm not 100% certain that this will ensure that the correct compiler is used. Also, it looks like #37 needs to be merged before using `FCFLAGS` will work as expected. I may get to this today and try to test drive the PR and make some amendments, and then merge it, so you can pull the lates

[2016-02-01 17:41] guziy commented on #15
Thanks @zbeekman:

Here is what I get after ```autoreconf```

[code]
Cheers

[2016-02-01 18:06] zbeekman commented on #15
@guziy Do you have `automake`, `autoconf` and `pkg-config` installed? If so, which versions?

[2016-02-01 18:17] guziy commented on #15
@zbeekman:

When using a newer automake (```module add autoconf/2.69 automake/1.12.6``` ), the error message is following:

[code]

pkg-config version is
[code]

Cheers

[2016-02-01 18:19] zbeekman commented on #15
@guziy I'm guessing this is due to outdated pkg-config. I think you need >= 0.27. Another tact you could take is downloading the latest release from [the releases page](https://github.com/milancurcic/releases/latest) which is packaged with a `./configure` script. It may not correctly pick up `FCFLAGS` and try to pass some bad ones to `pgf90` but it *should* get you further along. I think you can s

[2016-02-01 18:33] guziy commented on #15
@zbeekman:

You've forgotten the "datetime-fortran" part in your link to the latest release...
I've tried it, but pgf90 does not like some flags

[code]

Cheers

[2016-02-01 18:47] blippy commented on #15
@guziy , @zbeekman I have the same problem on my cubietruck, which is running Ubuntu LTS. A new LTS is due in less than 3 months time. Do you intend to upgrade?

We can go down two routes: either make pkg-config a requirement, or make it an optional extra. You won't get the benefits of pkg-config if it can't be included, of course, but at least it shouldn't fail. I think I'll opt for the latter, w

[2016-02-01 18:50] blippy commented on #15
@guziy What OS + version are you using? My pkg-config is at version 0.26, and I'm using an LTS.

[2016-02-01 18:51] milancurcic commented on #15
@guziy Until we merge @blippy's PR #37 (probably later today), try with [his master branch](https://github.com/blippy/datetime-fortran) which should be able to handle FCFLAGS.

[2016-02-01 18:55] guziy commented on #15
@blippy:

I am on CentOS, where I cannot really install stuff... Thought to just test pgi, since I do not have it locally..

[code]

Cheers

[2016-02-01 19:02] zbeekman commented on #24
PR accepted :tada: :balloon:

[2016-02-01 19:02] #24 closed

[2016-02-01 19:03] zbeekman commented on #24
If you want to install via Homebrew:

 1. [Get Homebrew](http://brew.sh)
 2. `$ brew update`
 3. `$ brew install datetime-fortran`

[2016-02-01 19:04] blippy commented on #15
@guzly If you don't have admin privileges, there are (legitimate) ways around it.  The standard location for per-user files is ~/.local. So binaries would typically be installed in ~/.local/bin, etc. You add those to your path, and hey presto.

I see that 6.6 was released in Oct 2014, which is actually not all that long ago. I guess it must take a long time for software to make it into the distro.

[2016-02-01 19:28] blippy commented on #15
Hmmm, I suspect the problem is with automake.

On my Ubuntu LTS,
<pre>
$ automake --version
automake (GNU automake) 1.14.1
$ automake
Makefile.am:3: error: 'pkgconfig_DATA' is used but 'pkgconfigdir' is undefined
</pre>

whereas on my Arch box
<pre>
$ automake --version
automake (GNU automake) 1.15
</pre>
and it works fine.

I'll need to go away and think about that.

[2016-02-01 19:51] blippy commented on #15
In fact, I'm not sure what the problem is wrt to the older versions of automake.

[2016-02-01 19:54] blippy commented on #15
Hold on, I might have a solution.

[2016-02-01 19:58] blippy commented on #15
Ah. Got it, I think. Standby.

[2016-02-01 20:20] blippy commented on #15
@guziy et al : OK. I think I got it. the latest patch I submitted should fix everyone (!).

autoreconf -i
now works on my Ubuntu LTS, so it should work for @guziy, fingers crossed.

You'll need to wait for @milancurcic to merge the patches. Then it should work.

Let me know how you get on.

[2016-02-01 22:43] guziy commented on #15
@blippy:

I've generated the Makefile using your master.

[code]

Cheers

[2016-02-01 22:54] milancurcic commented on #15
@guziy Thanks. What is your pgf90 version again? It's sad that it breaks as something as trivial as `::` (or at least that's what the error message makes me believe), which is perfectly legal Fortran code:

Note that blippy's PR has been merged into my master so you can use that one as well.

[2016-02-01 22:56] milancurcic commented on #15
Is it still v14.4? May be worth reporting.

[2016-02-01 23:21] guziy commented on #15
Yes, it is still 14.4:

[code]

Cheers

[2016-02-01 23:32] guziy commented on #15
Deleting '::' in 3 places helps to compile the library but the compilation of the tests still fails:

[code]
Cheers

[2016-02-01 23:37] zbeekman commented on #15
sure, but the PGI compiler still ICE-s.

[2016-02-04 18:16] milancurcic commented on #31
Right, I believe this is fixed, I just forgot to close the issue few days ago. Thanks!!

[2016-02-04 18:16] #31 closed

[2016-04-10 18:04] milancurcic opened #39 "User-defined constructor issues with Intel Fortran"
Noticed this behavior some time ago but haven't had the chance to look deeper into it. Currently, the datetime-fortran builds and passes tests when built with gfortran (here with 5.2.0 but I think 4.9 and later should work):

[code]

However with ifort (15.0.0 here, same behavior with 16.0.0):

[code]

The library itself builds successfully but building tests fails with a lot of errors. First few

[2016-09-12 14:27] milancurcic commented on #39
It seems that replacing the specific `use` statements from the parent module, i.e.:

[code]

with the general all-inclusive statements like:

[code]
makes ifort not complain anymore about binary operators not being defined. So, for some reason, when importing the `datetime` type from `mod_datetime`, ifort is unable to import the overloaded operators as well. I do not understand why. Happens with b

[2016-09-12 15:57] milancurcic commented on #39
The above issue can be reproduced with the following example:

[code]
The code compiles and executes as expected if `only:mytype` is omitted from the `use` statement in the `wrapper_module`, but not otherwise. Filed this on Intel Fortran forums, currently pending.

[2016-09-12 16:34] zbeekman commented on #39
Link?

[2016-09-12 16:40] milancurcic commented on #39
@zbeekman Just checked the forum page, still not up yet (moderator review).

[2016-09-12 16:53] milancurcic commented on #39
https://software.intel.com/en-us/forums/intel-fortran-compiler-for-linux-and-mac-os-x/topic/685085

[2016-10-29 08:02] szaghi opened #40 "timing codes"
@milancurcic

Hi Milan,

I searched into doc and past issues, but I was not able to find an answer.

Is it possible to use `datetime` as a _tic toc_ instrumenting-library to profile Fortran codes?

I mean, is it possible to use `datetime` class to (accurately) measure the time taken from blocks of code?

I am almost sure to have already asked this, but my memory is going to have many IO errors the

[2016-10-31 02:23] milancurcic commented on #40
Hi Stefano,

You *can* use `datetime` for profiling code but I don't see much benefit from using that over `cpu_time`. For example elapsed time:

[code]
Alternatively, with `datetime` you could do:

[code]
however the latter is more verbose and less accurate because it includes the overhead from `now` and `-` operator invocations.

I see `datetime` could be more useful for profiling compared to `c

[2016-10-31 02:43] zbeekman commented on #40
Shameless plug: may I recommend [TAU Commander](https://github.com/ParaToolsInc/tau-cmdr) for your profiling needs.

[2016-10-31 04:53] szaghi commented on #40
@milancurcic @zbeekman

Hi Milan (it is always strange to use your first name.... it seems I am talking to one of our main soccer team, Milan is one of the team of the city Milano :smile: ), thank you for insight.

I was searching for a very simple tic-toc timer that automatically store all couple of tic-toc and print the statistics registered. I am using `system_clock` over `cpu_time`, it being m

[2016-10-31 04:53] #40 closed

[2016-10-31 14:28] milancurcic commented on #40
@zbeekman A dedicated profiling tool is of course preferred for diagnosing performance and identifying bottlenecks. There are some situations when using a profiler is not desirable and Stefano described one of them. Another situation that comes to mind when implementing your own timing and clocks is in daemons, or programs that run persistently and interact with the filesystem or the network. Some

[2016-10-31 15:16] zbeekman commented on #40
@milancurcic sure, I certainly was not trying to question the utility of datetime. It sounded as though Stefano was trying to do some profiling which is why I suggested TAU Commander. I often have chaining PBS scripts that time the execution of the last job and then submit the next one based on the wall time that the previous job took, to get more accurate wall time estimates, and higher priority

[2016-10-31 15:25] szaghi commented on #40
@zbeekman

Thank you for your insight! The queue trick is very nice, stolen! The next time Cineca will give me a grant I'll climb their queue as spiderman!

Interesting the TAU Commander features (I am almost sure that you had already tried to teach it to me, sorry for my bugged memory). When (if) I'll pass this period of exams/tests I'll try to study it. For now, I have very poor profiling needs

[2016-12-12 17:56] #16 closed

[2017-05-02 16:23] milancurcic opened #44 "Clean up README.md"
README.md is overdue for a clean-up, like removing API docs for now-private methods etc.

[2017-06-05 13:22] issamsaid commented on #15
Are you still having this problem?

[2017-06-05 13:55] guziy commented on #15
Hi @issamsaid:

Yes, I have the same error with  PGI14.4 and PGI14.9 fails with segfault (11)...

[code]
PS: I've tried after 'git pull' from the master.

Cheers

[2017-06-05 16:37] zbeekman commented on #15
PGI: "Why support new language features when you can half-ass support for old ones...."

[2017-06-05 16:41] milancurcic commented on #15
I'm so unmotivated about PGI that I haven't even tried their free compiler. :)

[2017-06-05 16:43] szaghi commented on #15
I did and it looks that it is not much more changed from the closed version I stopped to use in the 2008...

[2017-06-05 16:51] milancurcic commented on #15
@issamsaid Do you have an easy way to pass this issue to the development team?

[2017-06-05 16:55] issamsaid commented on #15
@milancurcic I already did, I personally ran in a similar issue. I will get back to you if I have some fixes.

[2017-06-09 18:17] milancurcic opened #45 "Document building with cmake and autotools"

[2017-06-21 20:47] milancurcic opened #46 "Define output (write) methods for datetime and timedelta instances"

[2017-08-29 22:54] fullerrd commented on #15
I am getting the same errors with:

pgf90 15.10-0 64-bit target on x86-64 Linux -tp haswell
The Portland Group - PGI Compilers and Tools
Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.

If I remove '::' at mod_timedelta.f90 line 73, I get the same segfault (11).

Any chance you found a solution @issamsaid or @guziy? Thanks in advance!

[2017-08-30 08:33] issamsaid commented on #15
Hi Guys please try the 17.7 it is released today. My errors were fixed and
those fixes were included in 17.7. hopefully this will help you as well.

On Aug 29, 2017 11:54 PM, "fullerrd" <notifications@github.com> wrote:

[2017-09-06 19:25] fullerrd commented on #15
Hi, @issamsaid.  I upgraded pgf90 to v17.7 and got a fresh copy of the 1.6.0 release (from here: https://github.com/wavebitscientific/datetime-fortran/releases/tag/v1.6.0 ).

I'm running `./configure FC=pgf90` to create a new makefile, but when I run `make` it throws the same error at line 73 in mod_timedelta.f90.

Making all in src/lib
make[1]: Entering directory `/home/d.fuller-rowell/Desktop/Gl

[2017-09-06 21:53] milancurcic commented on #15
@fullerrd What happens if you remove `::` from the `module procedure` line?

[2017-09-06 22:16] fullerrd commented on #15
After removing :: and running `make clean`, I get signal 11 fault when compiling mod_timedelta.f90:

pgf90 -c -g mod_constants.f90
pgf90 -c -g mod_strftime.f90
pgf90 -c -g mod_timedelta.f90
pgf90-Fatal-/usr/pgi/linux86-64/17.7/bin/pgf901 TERMINATED by signal 11
Arguments to /usr/pgi/linux86-64/17.7/bin/pgf901
/usr/pgi/linux86-64/17.7/bin/pgf901 mod_timedelta.f90 -debug -x 120 0x200 -opt 0 -terse 1

[2017-09-08 09:03] issamsaid commented on #15
please file a bug at https://nvbugswb.nvidia.com/ or post a comment on https://devtalk.nvidia.com/

[2017-10-04 08:35] dongli commented on #45
I used the following CMake codes to import `datetime-fortran`:
[code]

[2017-10-04 08:47] dongli opened #47 "strptime does not handle errors"
When I fed `strptime` with a wrong time string, it just returns a normal result, but I expect an error report:
[code]

Maybe it could set some field of `datetime` to indicate an invalid status? Say:

[code]

[2017-10-06 02:00] dongli opened #48 "Cannot set seconds or others of timedelta"
Code is as following:

[code]

and error is:

[code]

The Fortran compiler that I am using is `gfortran` 7.2.0.

[2017-10-06 14:59] zbeekman commented on #48
I can't reproduce this... Also, you need to post more of your code.

`cat foo.f90`
[code]

[code]

[2017-10-06 15:01] milancurcic commented on #48
@dongli Thank you for reporting this.

Can you show a minimal complete example of how you are using `timedelta`?

Specifically, what is the type of `time_step_size_in`? My guess is that it is a `real` number. `timedelta_constructor` function which overloads the default `timedelta` constructor, is designed for `integer` arguments only. If you try to pass a `real`, compiler will not resolve this int

[2017-12-01 01:21] milancurcic commented on #48
No response from OP, assume resolved.

[2017-12-01 01:21] #48 closed

[2017-12-01 18:30] #44 closed

[2017-12-01 18:31] #45 closed

[2018-03-23 01:45] nichannah opened #49 "strptime does not zero tm struct before calling c_strptime"
man strptime gives an example code like the below:

[code]

The tm struct is zeroed before calling. datetime-fortran strptime does not do this which means that depending on the time string/format parts of the tm struct can be left containing uninitialised values.

[2018-03-23 13:25] milancurcic commented on #49
Good catch! Did you encounter any case where this caused unexpected behavior?

Would something like this work?

[code]

[2018-04-18 16:39] mpagowski opened #50 "Error invoking datetime constructor with ifort-17.0.5"
Have intel/17.0.5.239 Isn't that how it is supposed to work?
Thanks,
Mariusz

PROGRAM test

  USE datetime_module, ONLY: datetime, timedelta

  IMPLICIT NONE

  TYPE(datetime)  :: utctime

!  utctime=datetime(2013,1,1,tz=-5)
  utctime=datetime(year=2013,month=1,year=1)

!  PRINT *,utctime%utc

END PROGRAM test

make test.x
ifort -c  -L/apps/netcdf/4.3.0-intel/lib -lnetcdff -lnetcdf -I/apps/netcdf/

[2018-04-18 16:45] mpagowski commented on #50
should be
utctime=datetime(year=2013,month=1,day=1)
but won't compile anyway

[2018-04-18 17:25] milancurcic commented on #50
This compiler message usually implies that the calling signature in the constructor call does not match its interface. And because it doesn't, the compiler tries to default structure constructor, which doesn't work because components are declared `private`.

This program compiles OK for me:

[code]

but tested with ifort 18:

[code]

I don't have v17 at hand so I can't test it right now.

Be extra

[2018-04-18 18:00] mpagowski commented on #50
made some progress after added
use iso_fortran_env, only: real64
and corrected tz
with Intel(R) Fortran Intel(R) 64 Compiler for applications running on Intel(R) 64, Version 18.0.0.128 Build 20170811
Still this error because of some mp stuff
test.o: In function `MAIN__':
test.f90:(.text+0x63): undefined reference to `mod_datetime_mp_datetime_constructor_'

[2018-04-18 18:08] milancurcic commented on #50
OK, it looks like all that is left is to link to datetime properly:

[code]

[2018-04-20 16:53] milancurcic commented on #50
What does ifort say?

[2018-04-20 17:37] mpagowski commented on #50
ifort 18 compiles fine except some problem with linking to the library that is being sorted out (may be related to mpi ifort on my computer)

ifort 17 fails like below

Intel(R) Fortran Intel(R) 64 Compiler for applications running on Intel(R) 64, Version 17.0.5.239 Build 20170817

PROGRAM test

  USE iso_fortran_env, ONLY: real64
  USE datetime_module, ONLY: datetime, timedelta

  IMPLICIT NONE

[2018-04-20 17:52] mpagowski commented on #50
I need to check it again fort ifort 17, will try again later and post errors

[2018-04-25 15:27] mpagowski commented on #50
I figured the problem. intel 17 and 18 will both compile. If I can I would suggest one extension to the library in terms of generic functions: it would be beneficial to code datetime so it works with
datetime(year=2013,month=1,day=1,tz=-5._real64),
datetime(year=2013,month=1,day=1,tz=-5.), etc. i.e. tz as a real or an integer.
Thanks for your patience.

[2018-04-27 12:35] nichannah opened #51 "Very strange (possibly compiler) bug with date2num"
The patch below introduces one passing and one failing test. This problem occurred with intel 17 but not 15, 16 or 18. It did not happen with gfortran.

[code]

Intel 14 gives a compiler error

[code]

Intel 13 gives a segmentation fault:

[code]

[2018-04-29 15:55] milancurcic commented on #51
Good catch and I agree, very strange bug. I only have ifort 18 with me right now and both test pass as expected. Maybe filing this on the Intel forums would be a good idea if this issue becomes a showstopper for you?

[2018-04-29 15:58] milancurcic commented on #51
`date2num` and `num2date` use `real64` from `iso_fortran_env` for some literal constants, I'm wondering if its implementation varies between these versions of ifort.

[2018-05-02 15:51] wadudmiah opened #52 "incorrect literal with REAL64 kind"
The statement below (and similar ones) are incorrect:

real(kind=real64),parameter :: d2s  = 86400_real64

the reason being is that 86400 is an integer literal, and the REAL64 kind is for real types. This might work if the REAL64 kind is the same as integer kinds, but will not work otherwise. The safe option is to convert it to real, i.e.

real(kind=real64),parameter :: d2s  = 86400.0_real64

I ca

[2018-05-02 16:01] milancurcic commented on #52
Absolutely agree, good catch! Can you submit a PR with this fix?

Thanks,
milan

[2018-05-02 16:33] wadudmiah commented on #52
I don't know what PR means. Can you elaborate please?

[2018-05-02 16:35] milancurcic commented on #52
Can you please fork the repo, commit your changes to fix this in your repo, than submit a Pull Request (PR)? Thanks!

[2018-05-08 11:06] wadudmiah commented on #52
Hi Milan, I did a `git clone` but was unable to create the `configure` script:

[code]

[2018-05-14 10:09] wadudmiah commented on #52
Hi again Milan, could you please let me know the process of pull requests? Thanks.

[2018-05-22 14:07] milancurcic commented on #52
Hi Wadud,

Sorry for the late response. If you git clone, run `autoreconf -i` and this should generate the `configure` script for you. Otherwise, you can also build using cmake (see the README).

For contributing, I recommend the following:

1. Fork the repo. This will get you https://github.com/wadudmiah/datetime-fortran.
2. `git clone https://github.com/wadudmiah/datetime-fortran`
3. Make your c

[2018-05-22 14:19] wadudmiah commented on #52
Hi Milan,

I have created the pull request. Please review the changes. The tests passed. By the way, how do I create the "configure" script from your repository?

[2018-05-22 15:10] #52 closed

[2018-05-31 21:41] sunt05 opened #54 "add support for mingw"
As [`mingw` lacks `strptime`](https://stackoverflow.com/questions/321849/strptime-equivalent-on-windows?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa), it would be good that support could be provided to use this very handy module under `mingw`.

[2018-06-03 18:49] milancurcic commented on #54
Following the answer in the link, you'd need to build the related C routines and `tm_struct` along with your app before linking with datetime.

This is outside of scope for datetime-fortran, but I'm curious about your solution and it may be useful for other mingw users.

[2018-06-28 09:31] RBCanelas opened #55 "Can't build tests on win-ifort. Fails on linker with strptime"
Hello,

I have been using your library with no problems in unix with gfortran, but time has come to compile things in Windows using ifort.

Compiling the library runs, although some warnings do show up. Compiling the tests fails with

Severity	Code	Description	Project	File	Line	Suppression State
Error		error LNK2019: unresolved external symbol strptime referenced in function MOD_DATETIME_mp_STRPTI

[2018-06-28 13:59] milancurcic commented on #55
Looks like it could be related to https://github.com/wavebitscientific/datetime-fortran/issues/54.

Any chance of trying WSL (Windows Sybsystem for Linux)? I built and used datetime-fortran in WSL last year, without issues. This assumes you'd have to install the Linux version of ifort in there.

Unfortunately, I don't have access to a Windows machine (nor ifort for Windows) so my input will be lim

[2018-06-28 14:54] RBCanelas commented on #55
Hey, thanks for the quick reply. Unfortunately wsl isn't an option as the project is used primarily by win users. I'm called insane for developing in linux.
Thank you, but i might need to move on. Cheers!

[2019-05-06 13:01] RuiApostolo opened #56 ""undefined reference" when using datetime-fortran"
Hi,

I'm a relatively new fortran user, with little experience using external libraries.
I'm on Ubuntu 16.04 with gfortran 5.4.0
I installed datetime-fortran using the instructions:

[code]
However, when I try to run anything using the module, I get "undefined reference to ...", MWE using the first example:

test_dt.f08
[code]
trying to compile with:
[code]
Results in:
[code]

I'd really appreciat

[2019-05-07 01:23] zbeekman commented on #56
The issue is your compilation line: you pass a bunch of flags, but none to actually link in the datetime library.

Look inside `/home/rfapostolo/code/proper/datetime-fortran/lib` for a file named something like `libdatetime.a` (or ending in `.so` etc.)

If you find that library, say `libdatetime.a`, then you should add the following flag to your compile line after the `-L/home/...` flag: `-ldateti

[2019-05-07 10:49] RuiApostolo commented on #56
HI again,

I tried adding the `-ldatetime` flag but the result was the same. I tried linking the library directly with `L/.../lib/libdatetime' and `L/.../lib/libdatetime.a', but again got the same result.

I really appreciate the help and I'm sorry for wasting your time with this.

[2019-05-07 14:49] milancurcic commented on #56
Hi Rui,

Does the following work? (put the program file before the linking flag)

[code]

I remember reading the explanation for this somewhere, but can't remember now from the top of my head. When compiling and linking on the same line, put the source file first, linking flags and paths second.

[2019-05-07 14:50] zbeekman commented on #56
Hi Rui,

I'm not sure what's going on on your system. For me, I installed datetime-fortran through mac Homebrew (`brew install datetime-fortran`), and was able to compile your test program as follows:

[code]

It's possible that you need to list the library to the right of your source file due to the way the static linker works on some OSes.

Also, I would recommend that:
1. You name any modern (f

[2019-05-07 14:56] zbeekman commented on #56
It depends on the OS. On some older linux distros (and ubuntu undid the GCC patch for this... 🙄) the static linker is a bit finicky. Here's how it works:

1. Process arguments from left to right
2. Look at the object code (i.e. output of compiling test_dt.f90 or the current library archive file) of the thing being examined
3. Keep any used symbols, symbols needed by other entities already processe

[2019-05-07 15:14] RuiApostolo commented on #56
Hi @zbeekman and @milancurcic ,

I had no idea the compiler was reading the symbols left to right, but I can't say it doesn't make sense.
That was my problem, and having my code before the library worked perfectly.

Thank you very much for your help and suggestions, and apologies for the stupid mistake.

[2019-05-07 20:24] zbeekman commented on #56
No worries, the left-to-right thing bites even the most experienced programmers from time to time.

The linker does this to increase speed and decrease memory footprint IIRC, and on macOS and some distros it's a complete non-issue. But on certain/most linux distros the linker throws out un-needed symbol info and definitions as it processes, only keeping a table of symbols that have been seen, but

[2019-05-07 20:32] #56 closed

[2019-05-09 13:39] milancurcic commented on #39
The issue remains as of 19.0.1.144 Build 20181018 on 64-bit Linux.

[2019-06-19 05:58] alexavr opened #57 "Building with autotools (not all libs are copied)"
Hello,
and HUGE thanks for your enormous effort. Now datetime operations in FORTRAN have stopped being a nightmare! :+1:  One weird thing I'd like to highlight though. Building with autotools:
[code]
at the `make install` stage the only `datetime_module.mod` is actually copied in the destination include folder. That is not enough to link datetime.
**Fast solution**: manually copy all *.mod files f

[2019-06-19 06:42] alexavr opened #58 "Dealing with huge timedelta values"
Hello,
Once again thank you for this saving life lib!

I have to deal with datasets where time is written as, say, "seconds since 1900-01-01 ...".  In order to convert any modern date into this format, I need to subtract 1900-01-01 from it and than convert into seconds using *total_seconds*. Obviously. But the *total_seconds* function becomes crazy if the number of days exceeds 68 years. It happen

[2019-06-19 14:59] milancurcic commented on #58
Hi alexavr, great catch! I can reproduce this.

No compiler promotion for all integers is necessary. The addition of integers goes left-to-right here (even though not defined by the standard and compiler-dependent), so integer overflow occurs before we get to multiplying with milliseconds.

The correct and easy solution IMO is to multiply with a 64-bit float at the start:

[code]

I tested this wi

[2019-06-19 15:33] milancurcic commented on #57
I tried this and couldn't reproduce on my Ubuntu 18.10. I'm not experienced with autotools, maybe @tcanich will have an idea.

[2019-06-19 17:47] alexavr commented on #58
Very good idea!
Works for me.
Appreciated!

[2019-06-19 17:52] alexavr commented on #57
Weird... I'll try this on another PC soon.
I'm not an expert in autotools as well. That's why I couldn't fix it by myself.
Anyway, it's not a big deal :)
Thanx again!

[2019-06-19 18:42] milancurcic commented on #57
Is there anything in your lib folder, `/opt/datetime-fortran-1.6.0/lib`?

[2019-06-19 18:54] alexavr commented on #57
Yes:
[code]

[2019-06-19 19:02] tcanich commented on #57
Hi,

I think I see the problem in src/lib/Makefile.am, nodist_include_HEADERS on
line 1 restricts this to only install datetime_module.mod.  @milacurcic I've
sent a pull request ca18d40 with a fix which installs all of the headers.
I don't have a machine here with a suitable combination of autotools and
Intel compiler, but this should work...

Tom

[2019-06-19 19:07] milancurcic commented on #57
Thanks, Tom, I will try it.

Alexander: I'm sorry, I read your original message but somehow my brain went somewhere else. I also get only datetime_module.mod in the include directory. However, I struggle reproducing this:

Can you give an example program that needs any other module than datetime_module.mod?

[2019-06-19 19:19] alexavr commented on #57
Thank you, Tom!

Milan, It was early morning when I was writing that. Apologize :)
I meant that having the *datetime_module.mod* only in the *include* folder makes compiling FORTRAN code with `use datetime_module` impossible.
But if I copy all *.mod files from *src/lib* to the *include* -- everything compiles and works perfectly.

[2019-06-19 19:29] milancurcic commented on #57
Got it, but I'm saying for me I can build with just datetime_module.mod, with gfortran.

I just tried with ifort and indeed I can't, just like you. This looks like an Intel-specific issue, however from the top of my head, I don't know whether the GNU or the Intel behavior is standard conforming. I will do some research.

Anyway, for now, it doesn't hurt for now to copy all .mod files to make ifort

[2019-06-19 19:58] alexavr commented on #57
Agreed. It doesn't ;)
Maybe it's related to shared/dynamic compilation but I couldn't find this option in configure.

[2019-06-19 20:08] milancurcic commented on #58
Do you mind submitting this fix as a PR?

1. Fork this repo
2. `git clone https://github.com/alexavr/datetime-fortran`
3. Make your changes
4. git add, commit, and push to alexavr/datetime-fortran
5. Open Pull Request from your repo page.

[2019-06-20 07:25] alexavr commented on #58
Are you kidding? I'll be honored!
Give me some little time to learn how to do that LOL

[2019-06-21 15:29] milancurcic commented on #58
This is fixed in latest relase: https://github.com/wavebitscientific/datetime-fortran/releases/tag/v1.6.1. Thanks @alexavr.

[2019-06-21 15:29] #58 closed

[2019-07-02 03:28] DaisukeTokuda opened #61 "Generic procedure including a sub-class of TimeDelta"
I faced a problem with a sub-class of `timedelta`.
I defined a generic procedure name for `operator(+)` (as below, can be compiled),
but the program executes the operator for `TimeDelta`, not for `RelativeDelta`.

[code]

One possible reason is `class` in the original datetime_plus_timedelta function.
While `type(timedelta)` indicates only timedelta class,  `class(timedelta)` does sub-classes in a

[2019-07-02 15:26] milancurcic commented on #61
Thanks, indeed, the `intent(in)` arguments to specific procedures that overload the operators are defined as `class` by design, so that these operators can work for sub-classes out of the box.

But in your case, you actually want to override the inherited operator with a new procedure. Certainly valid. To be honest, I don't know what the standard says about this, but I'd think that you should be a

[2019-07-03 03:33] DaisukeTokuda commented on #61
I appreciate your reply and I apologize much longer post.
I use ifort, `Intel(R) Fortran Intel(R) 64 Compiler for applications running on Intel(R) 64, Version 19.0.3.199 Build 20190206`.

The implementation of `RelativeDelta` and `datetime_plus_relativedelta` are as below. Since I defined `RelativeDelta` for I/O of monthly/yearly data in numerical simulation, I prohibited both of (years or months)

[2019-08-13 08:50] weixing1531 opened #62 "Bug in function now()"
There is a bug in the file "mod_datetime.f90".
type(datetime) function now()
...
now % tz = hour+minute*m2h
Codes should be change to
now % tz = hour+sign(minute,hour)*m2h
or
now % tz = values(4)*m2h

[2019-08-30 20:50] #54 closed

[2019-09-20 13:45] dcdenu4 commented on #55
I had the exact error related to strptime on Windows using MinGW/MSYS, but I tried out the WSL, specifically Ubuntu and was able to build following the "Building with cmake" instructions without problems. I had to use sudo for the cmake and make commands but that was it.

I then was able to copy the include and lib folder to my project and compile my executable via makefile using gfortran from Min

[2019-09-22 08:29] xxtt commented on #55
Could you explain a little more about "combining include and lib with project"? I tried to use the "*.mod" in WSL, put them into MinGW, but an error occur: Fatal Error: Cannot read module file 'datetime_module.mod' opened at (1), because it was created by a different version of GNU Fortran compilation terminated.

[2019-09-23 18:34] dcdenu4 opened #63 "Strptime Undefined Reference Error"
I get the following error when trying to use the `strptime` function:

    .\obj\test_strptime.o:test_strptime.f90:(.text.startup+0x5d): undefined reference to `__mod_datetime_MOD_strptime'
    .\obj\test_strptime.o:test_strptime.f90:(.text.startup+0xdf): undefined reference to `__mod_datetime_MOD_strptime'
    collect2.exe: error: ld returned 1 exit status

I'm trying to use the public `strptime`

[2019-09-23 20:47] milancurcic commented on #63
Hi Doug,

Not sure what's going on here. I can compile and link the example without issues on my system (Ubuntu).

This is a linker error so your compile step works. It seems like you have a libdatetime.a (otherwise the linker would complain about it) but it can't find the strptime method in there. Just for a sanity check, what is the output of `nm libdatetime.a | grep __mod_datetime_MOD_strptime`

[2019-09-23 20:56] milancurcic commented on #62
Thanks a lot -- I believe you are correct. Can you give an example case in which the current code produces an erroneous value? I'm trying to understand it better.

[2019-09-24 04:50] weixing1531 commented on #62
For example, if you are in New York or someplace, zone=="-0530", then hour==-5 and minute==30
now % tz = hour+minute*m2h
so tz==-4.50, it is wrong!
the right answer is -5.50!

[2019-09-24 04:51] weixing1531 commented on #62
For example, if you are in New York or someplace, zone=="-0530", then hour==-5 and minute==30
now % tz = hour+minute*m2h
so tz==-4.50, it is wrong!
the right answer is -5.50!

------------------
姓名：魏兴
工作单位：新疆水利水电勘测设计研究院规划所
手机：13565969591
邮箱：282844965@qq.com

------------------ 原始邮件 ------------------
发件人: "Milan Curcic"<notifications@github.com>;
发送时间: 2019年9月24日(星期二) 凌晨4:56
收件人: "wavebitscientifi

[2019-09-24 04:55] weixing1531 commented on #62
For example, if you are in New York or someplace, zone=="-0530", then hour==-5 and minute==30
now % tz = hour+minute*m2h
so tz==-4.50, it is wrong!
the right answer is -5.50!

[2019-09-24 04:55] #62 closed

[2019-09-24 16:36] dcdenu4 commented on #63
Hey, thanks for the quick reply. Running the sanity command check you mentioned gives:

    0000000000002290 T __mod_datetime_MOD_strptime

I think the issue is related to using WSL to build / compile datetime-fortran, but then switching back over to using MinGW to link the library to my project. Unfortunately we're using MinGW and Windows across the project.

[2019-12-03 17:39] mostafa-najafiyazdi commented on #15
Is this still an issue? Or is it resolved on newer versions of PGI?

[2019-12-03 18:20] milancurcic commented on #15
I haven't had opportunity to try it and am curious about it as well.

[2020-01-16 04:00] penguian opened #64 "Hour comparison in num2date is incorrect"
In `num2date`, [mod_datetime.f90#L1238](https://github.com/wavebitscientific/datetime-fortran/blob/master/src/lib/mod_datetime.f90#L1238) has:
[code]
Surely that comparison should be to 24, not 60?

[2020-01-16 04:55] aekiss commented on #64
Just a thought - would it be more error-tolerant to use `>=` rather than `==` in these adjustments, then subtracting off the factor? Otherwise it assumes rollovers of exactly 1. I guess that should always be the case, but there's probably no harm in coding more defensively...
https://github.com/wavebitscientific/datetime-fortran/blob/master/src/lib/mod_datetime.f90#L1225-L1241

I'm suggesting some

[2020-01-16 12:15] milancurcic commented on #64
You are correct, it should compare with 24, not 60. I also like the defensive approach by @aekiss. Do either of you mind submitting a PR?

[2020-01-19 22:44] nichannah commented on #51
I'm no longer able to reproduce this error with out latest compiler versions:

intel-compiler/2019.5.281
intel-compiler/2020.0.166

[2020-01-19 22:44] #51 closed

[2020-01-24 17:29] #64 closed

[2020-02-16 21:32] mathomp4 opened #66 "Function that ingests ISO format and returns datetime?"
Just a question to make sure. I’d like to convert a project I work on from its own date time format to using ISO date format. So instead of “20170607 124500” in a startup file, I’d love to say “2017-06-07T12:45:00”. I know datetime-fortran can convert a datetime object into an ISO format string, but can it do the opposite? (And I guess similar for durations?)

Or because python-datetime doesn’t (i

[2020-02-17 12:45] milancurcic commented on #66
Hi Matt,

Sure you can. You're looking for strptime:

[code]

Python datetime has the same thing, but there it's a type-bound method, i.e. `datetime.datetime.strptime`.

To be honest, `datetime % strftime()` and `strptime()` is what I use in datetime-fortran the most.

[2020-02-29 16:45] VinniDoddu commented on #63
Hi,
is there an easy solution to get datetime-fortran working using mingw in windows ?
thanks

[2020-02-29 17:22] milancurcic commented on #63
Hi @VinniDoddu,

Unfortunately, I haven't learned anything new since the start of this issue, and still have zero experience with MinGW. From reviewing the issue again, my suspicion is that on MinGW the linker is not able to find `strptime`. This should be in the C standard library inside `time.h`. I don't know if on MinGW this function is not provided, or perhaps defined in some other place that

[2020-03-24 19:30] #55 closed

[2020-03-24 19:33] milancurcic commented on #63
@scivision just added a fix for this which is now in master.

@dcdenu4 @VinniDoddu Can you try it and see if it works?

[2020-03-25 13:25] #66 closed

[2020-04-27 15:36] milancurcic commented on #61
Hi Daisuke,

Sorry about the delay with this. I agree with your conclusion--because the operators are defined as type-bound methods rather than regular procedures, they require `class` for the input argument.

The solution you propose would work for your use case, however it would break the use case of extended `datetime` and `timedelta` types inheriting the original operators.

I can't think of a

[2020-05-09 21:32] #49 closed

[2020-05-09 21:35] milancurcic commented on #39
This issue should be resolved thanks to switching to single-module library in #69. Needs to be confirmed.

[2020-05-09 21:36] milancurcic commented on #63
Closing. If the issue persists, please reopen.

[2020-05-09 21:36] #63 closed

[2020-05-11 12:39] dcdenu4 commented on #63
Hey, sorry I missed this. I'm no longer on the project that pertained to this issue and don't have access to the codebase... Thanks for the work and reaching out!

[2020-09-15 18:03] milancurcic commented on #18
For a small single-module library, this is overkill IMO. + API is described in the README. Closing for now but if somebody wishes to contribute a FORD doc build, please reopen.

[2020-09-15 18:03] #18 closed

[2020-09-15 18:05] milancurcic commented on #19
@zbeekman I skipped the green book and got the red book last year. :)

[2020-09-15 18:08] milancurcic commented on #39
No issue with ifort 2021.1 Beta 20200602. Closing.

[2020-09-15 18:08] #39 closed

[2020-09-15 18:12] milancurcic commented on #50
It would be straightforward to make the constructor generic to allow various kinds for `tz` argument. But this would increase the code size considerable for a feature with such small surface area. Unless there are more requests for it I'm not inclined to make it generic.

[2020-09-15 18:12] #50 closed

[2020-12-17 16:07] scivision commented on #47
Yes. I at least added a warning to strftime. Would be want datetime-fortran to "error stop" or just emit a stderr warning for strftime and strptime failures?

[2020-12-17 16:09] scivision commented on #46
you mean like a REPR, where you do the Fortran equivalent of

[code]

which may actually be implemented as
[code]

[2022-10-14 12:52] harshula opened #76 "CMake uses different compiler flags to autotools"
Please note that the static library built via CMake is built with different flags compared to when it is built with Autotools.

e.g. Cmake:

[code]

e.g. Autotools:

[code]

Environment:
[code]

[2022-10-14 15:26] milancurcic commented on #76
Thanks! As I understand it #76 doesn't address this, right? We can easily add a default `-O3` to the autotools build.

[2022-10-15 10:19] harshula commented on #76
https://github.com/wavebitscientific/datetime-fortran/pull/75 does **not** address this issue.

[2022-10-15 11:09] harshula commented on #76
Is -O3 preferred over -O2 by the fortran community?

[2022-10-17 01:05] harshula commented on #76
**Notes:**

[code]

[code]

[code]

[2022-10-17 14:05] milancurcic commented on #76
I think `-O3` is fine to use as a default.